# =============================
# Environnement Python (venv)
# =============================
yolo/env312/

# =============================
# Python
# =============================
__pycache__/
*.pyc
*.pyd

# =============================
# Jupyter
# =============================
.ipynb_checkpoints/

# =============================
# IDE / OS
# =============================
.vscode/
.idea/
.DS_Store
Thumbs.db

# =============================
# Fichiers lourds du projet
# =============================
*.mp4
*.pt
